// Card Story

.marker{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $primary-color;
  margin-left: -3px;
}
.card-story
{
  border-left: 2px solid $primary-color;
  padding-left: 30px;
  margin-top: 30px;

  .card-title{
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
  }
  .card-subtitle{
    margin-top: -15px;
    font-size: 12pt;
    color: $grey-light;
  }
  .card-link{
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $primary-color;
    border-radius: 2px;
    padding: 10px;
    float: right;
  }
  .card-link:hover{
    background-color: $primary-color;
    color: $white-max;
  }
}
